<div class="container">
    <div class="header-container">
      <h1>Noticias</h1>
      <br>
      <p>
        Manténgase al tanto de lo que ocurre en el acontecer diario de la
        Agencia de Viajes San Cristobal
      </p>
      <br>
      <button
        mat-raised-button
        color="primary"
        style="
          background-color: white;
          font-size: 15px;
          width: 100px;
          border-radius: 20px;
          border: none;
          padding: 3px;
        "
      >
        <span> Ver más </span>
      </button>
    </div>
    <div class="notice-container">
      <div class="primary-notice">
        <img src="../../../assets/notices/bg01a.png" alt="">
        <br>
        <div class="p-primary">
          <mat-icon class="mat-icon-white">query_builder</mat-icon>
          <span class="spacer-extra"></span>
          <p>
            Julio 18, 2020
          </p>
        </div>
        <h2>Presidente cubano se reúne con científicos del ...</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non diam
          auctor, laoreet ligula sit amet, faucibus tortor. Sed nec nisi nec elit
          efficitur porta. Integer vitae risus eget velit tincidunt consectetur.
        </p>
        <div class="button-notice-continer">
          <a class="button-notice" mat-button href="https://www.google.com/" target="_blank">Leer más</a>
          <a class="button-notice-second" mat-button href="https://www.google.com/" target="_blank">Compartir</a>
        </div>
      </div>
      <div class="by-container">
        <div class="second-notice">
          <div>
            <img class="second-img" src="../../../assets/notices/e5184125-02f4-4506-aa14-64806740c116.png" alt="">
            <div class="p-second">
              <mat-icon class="mat-icon-white-second">query_builder</mat-icon>
              <span class="spacer-extra"></span>
              <p class="p-second-date">
                Julio 18, 2020
              </p>
            </div>
            <h2 class="title-second">Lorem ipsum dolor sit amet</h2>
            <div class="button-notice-continer">
              <a class="button-notice" mat-button href="https://www.google.com/" target="_blank">Leer más</a>
              <a class="button-notice-second-p" mat-button href="https://www.google.com/" target="_blank">Compartir</a>
            </div>
          </div>
          <br>
          <div>
            <img class="second-img"  src="../../../assets/notices/Oficios-y-Aprendices.png" alt="">
            <div class="p-second">
              <mat-icon class="mat-icon-white-second">query_builder</mat-icon>
              <span class="spacer-extra"></span>
              <p class="p-second-date">
                Julio 18, 2020
              </p>
            </div>
            <h2 class="title-second">Lorem ipsum dolor sit amet</h2>
            <div class="button-notice-continer">
              <a class="button-notice" mat-button href="https://www.google.com/" target="_blank">Leer más</a>
              <a class="button-notice-second-p" mat-button href="https://www.google.com/" target="_blank">Compartir</a></div>
            </div>
        </div>
        <div class="second-notice">
          <div>
            <img class="second-img"  src="../../../assets/notices/Castillo-de-la-Real-Fuerza.png" alt="">
            <br>
            <div class="p-second">
              <mat-icon class="mat-icon-white-second">query_builder</mat-icon>
              <span class="spacer-extra"></span>
              <p class="p-second-date">
                Julio 18, 2020
              </p>
            </div>
            <h2 class="title-second">Lorem ipsum dolor sit amet</h2>
            <div class="button-notice-continer">
            <a class="button-notice" mat-button href="https://www.google.com/" target="_blank">Leer más</a>
            <a class="button-notice-second-p" mat-button href="https://www.google.com/" target="_blank">Compartir</a>
          </div>
            <br>
          <div>
            <img class="second-img"  src="../../../assets/notices/san_cristobal_NOY3763.png" alt="">
            <br>
            <div class="p-second">
              <mat-icon class="mat-icon-white-second">query_builder</mat-icon>
              <span class="spacer-extra"></span>
              <p class="p-second-date">
                Julio 18, 2020
              </p>
            </div>
            <h2 class="title-second">Lorem ipsum dolor sit amet</h2>
            <div class="button-notice-continer">
            <a class="button-notice" mat-button href="https://www.google.com/" target="_blank">Leer más</a>
            <a class="button-notice-second-p" mat-button href="https://www.google.com/" target="_blank">Compartir</a>
          </div>
          </div>
        </div>
      </div>
      </div>
</div>

