.container{
  background-color: #1E819C;
  height: 800px;
  display: absolute;
}

.header-container{
  padding-top: 20px;
  margin-left: 4%;
}

.notice-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid black; */
  height: 600px;
  padding: 1% 4%;
  gap:3%
}

.primary-notice{
  /* border: 1px black solid; */
  width: 50%;
  height: 100%;
  padding-top: 10px;
}
.primary-notice img{
  width: 100%;
  background-size: cover;
}
.by-container{
  display: flex;
  /* border: 1px solid black; */
  gap:3%
}

.second-notice:nth-child(1){
  /* border: 1px red solid; */
  display: block;
  gap:3%
}

.second-notice:nth-child(2){
  /* border: 1px solid blue; */
  display: block;
  gap:3%
}

.second-notice img{
  width: 100%;
  background-size: cover;
}

.p-primary {
  display: flex;
  align-items:normal;
}

.p-second{
  display: flex;
  align-items: normal;

}

.p-second-date{
  font-size: 12px;
}

.spacer-extra {
  margin-right: 5%;
}

.mat-icon-white{
  color: white;
}
.mat-icon-white-second{
  color: white;
  font-size: 12px;
  margin-top: 8px;
}

.button-notice-continer{
  margin-top: 5%;
}

.button-notice{
  color: white;
  text-decoration: none;

}

.button-notice-second{
  margin-left: 50px;
  color: white;
  text-decoration: none;
}
.button-notice-second-p {
  margin-left: 150px;
  color: white;
  text-decoration: none;
}

.second-img{
  width:300px
}

.title-second{
  font-size:14px
}

h1{
  color: white;
  font-size: 36px;
}

h2 {
  color: white;
  font-size: 21px;
}

p{
  color:  white;
  margin-top: 4px;
  font-size: 18px;
}

span{
  color: #1E819C;
  font-weight: bold;
}
