.container{
  background-color: #1E819C;
  height: 800px;
  display: absolute;
}

.header-container{
  padding-top: 20px;
  margin-left: 4%;
}

.notice-container{
  display: flex;
}

.primary-notice{
  margin-top: 30px;
  margin-left: 4%;
  margin-right: 50px;
  width: 600px;
}
.second-notice{
  display: block;
  margin-top: 30px;
  margin-left: 100px;
}

.p-primary {
  display: flex;
  align-items:normal;
}

.p-second{
  display: flex;
  align-items: normal;

}

.p-second-date{
  font-size: 12px;
}

.spacer-extra {
  margin-right: 5%;
}

.mat-icon-white{
  color: white;
}
.mat-icon-white-second{
  color: white;
  font-size: 12px;
  margin-top: 8px;
}

.button-notice-continer{
  margin-top: 5%;
}

.button-notice{
  color: white;
  text-decoration: none;

}

.button-notice-second{
  margin-left: 50px;
  color: white;
  text-decoration: none;
}
.button-notice-second-p {
  margin-left: 150px;
  color: white;
  text-decoration: none;
}

.second-img{
  width:300px
}

.title-second{
  font-size:14px
}

h1{
  color: white;
  font-size: 36px;
}

h2 {
  color: white;
  font-size: 21px;
}

p{
  color:  white;
  margin-top: 4px;
  font-size: 18px;
}

span{
  color: #1E819C;
  font-weight: bold;
}
