<div class="container">
  <div class="header-container">
    <h1>Contáctenos</h1>
     <br>
    <p>
      Contáctenos via email para cualquier inquietud o
      solicitud estaremos siempre encantados de atenderlo.
    </p>
  </div>

  <div class="container-coments ">
    <div class="data">
        <div class="user-data">
          <mat-card class="cards-style">
            <div class="map-continer">
              <br>
              <label class="Google">Google Maps</label>
            </div>
            <hr>
            <div class="data-continer">
              <div class="data-info">
                <button class="botton-info">
                  <mat-icon class="icon-style">room</mat-icon>
                </button>
                <p>
                  ----------------------------------------------------------------------------
                  <br>
                  ----------------------------------------------------------------------------
                </p>
              </div>
              <div class="data-info">
                <button class="botton-info">
                  <mat-icon class="icon-style-mail"> mail_outline</mat-icon>
                </button>
                <p>
                  -----------------------&#64;-----------.cu

                </p>
              </div>
              <div class="data-info">
                <button class="botton-info">
                  <mat-icon class="icon-style-mail"> phone</mat-icon>
                </button>
                <p>
                  +535  ---  --  --
                  <br>
                  +537  ---  --  --
                </p>
              </div>

            </div>
          </mat-card>
        </div>
        <div class="coment-data">
          <mat-card class="cards-style">
              <p class="coments-p">Permanezca conectado</p>
              <form formulario="ngForm" (ngSubmit)="onSubmit()" class="data-form">
                  <label class="form"> Nombre Completo</label>
                  <input
                    type="text"
                    placeholder="Nombre"
                    class="input-data"
                  >
                    <br>
                  <label class="form">Dirección de Correo
                  </label>
                  <input
                    type="text"
                    placeholder="Número de teléfono"
                    class="input-data"
                  >
                    <br>
                  <label class="form"> Número de teléfono</label>
                  <input
                    type="email"
                    placeholder="Correo electrónico"
                    class="input-data"
                  >
                  <label class="form"> Mensaje</label>
                  <textarea
                    placeholder="Escriba un mensaje"
                  >
                  </textarea>
                  <br>
                  <input
                    type="submit"
                    value="Enviar Mensaje"
                  >

              </form>
          </mat-card>
        </div>
    </div>
  </div>
</div>
