<div class="container">
  <div class="first-container">

    <div class="header-container">
      <h1>Productos más <span class="title">Vendidos</span></h1>
      <br>
      <button
        mat-raised-button
        color="primary"
        style="
          background-color: #1E819C;
          font-size: 15px;
          width: 250px;
          border-radius: 20px;
          border: none;
          padding: 10px;
        "
      >
        <span> Ver todos los productos </span>
      </button>
    </div>
  </div>
  <app-experience [slides]="slides"></app-experience>


</div>

