<div class="continer">
  <div class="header-continer">
    <img
      class="logo"
      src="../../../assets/Logo.png"
      alt=""
    >
  </div>
  <div class="option-continer">
    <a href="#"> ACERCA DE</a>
    <a href="#"> COMUNIDAD</a>
    <a href="#"> AFINTRIÓN</a>
    <a href="#"> ASISTENCIA</a>
  </div>
  <hr class="separador">
  <div class="info-continer">
      <div class="data">
        <p>
          Copyright&copy;2020. San Cristíbal.
          <a href="#">
            Términos y condiciones
          </a>
          <a>
            Quienes somos
          </a>
        </p>
      </div>
      <div class="info">
        <p>
          Español (CO)  $USD
        </p>
        <div class="social-media"></div>
      </div>
  </div>

</div>
