<div class="container">
  <div class="header-container">
    <h1>Descargue nuestras <span class="title">Aplicaciones</span></h1>
     <br>
    <p>
      Conozca y manténgase al tanto de la obra de la Oficina del Historiador de la Habana
    </p>
  </div>
  <div class="aplication-continer">
    <mat-card class="cards-style"></mat-card>
    <mat-card class="cards-style"></mat-card>
    <mat-card class="cards-style"></mat-card>
    <mat-card class="cards-style"></mat-card>
    <mat-card class="cards-style"></mat-card>
    <mat-card class="cards-style"></mat-card>
  </div>
</div>
