<div class="container">
  <div class="first-container">

    <div class="header-container">
      <h1>Quienes <span class="title">Somos</span></h1>
    </div>

    <div class="structure-container">
      <h5> Organización y <span class="title">Estructura</span></h5>
      <div class="info-container">
        <div class="first">
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
        </div>
        <div class="second">
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
        </div>
      </div>
    </div>

    <div class="structure-container">
      <h5> Esferas de <span class="title">Trabajo</span></h5>
      <div class="info-container">
        <div class="first">
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
        </div>
        <div class="second">
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
          <p>
            <mat-icon class="check-color">check</mat-icon>
            Lorem ipsum
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="second-container">
    <mat-icon class="play-color">play_circle_filled</mat-icon>
  </div>
</div>
